/tmp
/out-tsc

node_modules
dist
.svelte-kit
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js

.vscode/*

.idea
.DS_Store

#AI Agent Artifacts
.sisyphus
**/.playwright-mcp/**
**/screenshot*

# Playwright
node_modules/.cache/
test-results/
playwright-report/
